	:root {
		--orange: #fe7f00;
		--grey: #686a6c;
		}

	body {
		background-color: var(--grey) !important;
	}
		
	section {
		min-height: 100vh;
	}

	.container {
		height: 400px;
		width: 400px !important;
		min-height: 200px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid var(--orange);
	}

	.form {
		padding: 50px;
		margin-top: -20px;
	}

	h2 {
		padding-bottom: 15px;
		color: white;
		font-size: 24px;
		font-weight: 600px;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}

	.input_log {
		margin-bottom: 20px;
	}

	.form .input_log input {
		background-color: black !important;
		color: #686a6c;
		border: none;
		outline: none;
		font-size: 16px;
		padding: 10px 20px;
		letter-spacing: 1px;
		border-radius: 35px;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid rgba(255, 255, 255, 0.5);
		box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
	}

	.input_log input[type="submit"] {
		background-color: black !important;
		color: #666;
		cursor: pointer;
		background: #fff;
		font-weight: 600px;
	}